<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link type="text/css" href="/assets/styles.css" rel="stylesheet"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Burger App</title>
	</head>
	<style>
		body {
				background-image: url("img_burger.gif");
				background-color: lightgray; 
				background-repeat: no-repeat;
				font-family: Arial, Helvetica, sans-serif;
				padding-top: 40px;
			}
		#burger_text {
				padding: 10px;
				background-color: rgb(7, 53, 7);
				color: white;
				text-align: center;
				width: 60%;
				margin-left: 165px;
				}
		h1 {
			font-size: 50px;
			color: darkred;
			text-align: center;
			margin-left: 220px;
			}
		h2 {
			font-size: 50px;
			color: rgb(66, 52, 4);
			text-align: center;
			margin-left: 220px;
			}
		p {
			font-size: 40px;
			color: dark red;
			text-align: center;
			}
	</style>
	<body>
		{{{ body }}}
	</body>
</html>