body {
  background-image: url("img_burger.gif");
  background-color: lightgray; 
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
}
#burger_text {
  padding: 10px;
  background-color: rgb(7, 53, 7);
  color: white;
  text-align: center;
  width: 60%;
  margin-left: 165px;
  }
h1 {
font-size: 50px;
color: darkred;
text-align: center;
margin-left: 220px;
}
p {
font-size: 40px;
color: dark red;
text-align: center;
}